<html>
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <div class="container">
        <h1>Sign Up</h1>
        <div class="signup-form" >
            <form method="post" action="/signup">
                <label>User Name:</label><input type="text" name="name" placeholder="Name">
                <label>Email:</label><input type="text" name="email" placeholder="Email">
                <label>Password:</label><input type="password" name="password" placeholder="Password">
                
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>